body {
    background-image: url('/public\background.jpg');
    /* Замените 'path/to/your/image.jpg' на путь к вашему изображению */
    background-size: cover;
    /* Растягивает изображение на весь экран */
    background-position: center;
    /* Выравнивает изображение по центру */
}

.start-component {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EDE8E3; */
    flex-direction: column;
    gap: 20px;
}

button.start-button {
    border: none;
    border-radius: 8px;
    background-color: #747475;
    color: #EDE8E2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    /* margin: 20px; */
    box-sizing: border-box;
    padding: 20px;
    max-height: 60px;

}

.process-bar img {
    padding-left: 5px;
}